<?php

return [
    'theme_manager' => [
        'default_theme'     => 'default',
        'admin_theme'       => 'admin',
        'theme_path'        => './public/themes/',
        'bootstrap'         => true,
        'bootswatch_theme'  => null,
        'jquery_ui'         => false,
        'font_awesome'      => true,
    ],
];
